<a href='/'>Home</a><br>
<h1>Log in</h1>
<form action = "/login" method = "post">
<label>Username:</label> <input type = "text" name = "username" id = "username"></h2>
<label>Password:</label> <input type = "text" name ="password" id = "password"></h2>
<input type = "submit" value = "Log in"><br>

<a href ='/registrations/signup'>Not signed up?</a>

 