<a href='/'>Home</a><br>
<div class="card bg-white offset-3 col-4">
<table>    
    <thead>
        <h1>Log in</h1>
    </thead>
    <tbody>
        <form action = "/login" method = "post">
            <tr><td><label  class="offset-4">Username:</label></tr></td>
            <tr><td><input type = "text" name = "username" id = "username"  class="offset-4"></tr></td>
            <tr><td><label class="offset-4">Password:</label></tr></td> 
            <tr><td><input type = "text" name ="password" id = "password"  class="offset-4"></tr></td> 
    </tbody>
    <tfoot>
    <tr>
            <td><button class="btn btn-primary mt-2" value = "Log in">Login</button><td>
            <td><a href ='/registrations/signup'>Not signed up?</a></td>
            </tr>
        </form>
    </tfoot>
</table>
</div>


 