<a href='/'>Home</a><br>
<div class="text-light">
<table class= "card bg-white col-3">    
    <thead>
        <h1>Log in</h1>
    </thead>
    <tbody>
        <form action = "/login" method = "post">
            <tr><td><label>Username:</label></tr></td>
            <tr><td><input type = "text" name = "username" id = "username"></tr></td>
            <tr><td><label>Password:</label></tr></td> 
            <tr><td><input type = "text" name ="password" id = "password"></tr></td> 
    </tbody>
    <tfoot>
            <td><button class="btn btn-primary" value = "Log in">Login</button><td>
        </form>
    </tfoot>
</table>
</div>
<a href ='/registrations/signup'>Not signed up?</a>

 