<a href='/'>Home</a><br>
<h1>Log in</h1>
<form action = "/login" method = "post">
<label>Username:</label> <input type = "text" name = "username" id = "username">
<label>Password:</label> <input type = "text" name ="password" id = "password">
<button value = "Log in">Login</button>

<a href ='/registrations/signup'>Not signed up?</a>

 