<h1>Create a new Currency</h1>

<form action="/currencies" method="POST">
  <label>Currency Name:</label>
  <br>
  
    <input type="text" name= "currency_name"><br>
  <label>Currency Amount:</label>
  <br>
  
    <input type="text" name="amount"><br>

  <input type="submit" value="Create Currency">
</form>