<a href = "/logout">Log out</a>
<% if Helpers.logged_in?(session) %>
    <h1>Welcome <%= Helpers.current_user(session).username %></h1>
     <% end %>

<br>


<form action = '/users/<%= @user.id %>/delete' method = "post">
<input type = "hidden" name = "_method" value = "delete">
<input type = "submit" value = "Delete User">
</form>