<h1>Create User</h1>
<form method = "POST" action = '/registrations/signup'>
<h2>Username: <input type = "text" name = "username" id = "username"></h2>
<h2>Password: <input type = "text" name ="password" id = "password"></h2>
<input type = "submit" value = "Create User">
</form>