
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="./../resources/dbd.jpg" alt="dbd"></a>
        <a href='/'>Home</a>
        <a href="/killers">Killers List</a>
        <a href="/survivors">Survivors List</a>
    </nav>
    
    <h1 class="text-danger">Welcome to DBDTracker</h1>
    <button class="btn btn-lg btn-danger">
        <a href ='/registrations/signup'>Sign up</a>
    </button>
    <button class="btn btn-lg btn-danger">
        <a href ='/login'>Login</a>
    </button>

    <p class="text-light">This site allows you to keep track of your in game currency. Additionally you can look up killers, survivors and perks, and build you perfect Killer and Survivor!</p>


