
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="./../resources/dbd.jpg" alt="dbd"></a>
        <a href='/'>Home</a>
        <a href="/killers">Killers List</a>
        <a href="/survivors">Survivors List</a>
        <button class="btn btn-lg btn-light">
            <a href ='/registrations/signup'>Sign up</a>
        </button>
        <button class="btn btn-lg btn-light">
            <a href ='/login'>Login</a>
        </button>
    </nav>
    
    <h1 class="text-light">Welcome to DBDTracker</h1>
   

    <p class="text-light">This site allows you to keep track of your in game currency. Additionally you can look up killers, survivors and perks, and build you perfect Killer and Survivor!</p>


