<nav class="navbar navbar-dark navbar-expand bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://ih1.redbubble.net/image.3745834066.5489/st,small,507x507-pad,600x600,f8f8f8.jpg" width="60" height="50" alt="dbd">
        </a>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class= "nav-link" href='/'>Home</a>
        </li>
        <li class="nav-item">
            <a class= "nav-link" href="/killers">Killers List</a>
        </li>
        <li class="nav-item">
            <a class= "nav-link" href="/survivors">Survivors List</a>
        </li>
    
<% if Helpers.logged_in?(session)%> 
        <li class="nav-item">
            <a class="nav-link" href='/users/<%= @user.id %>'>My Homepage</a>
        </li>    
   </ul>
</nav>
<%end%>

<% if !Helpers.logged_in?(session)%> 
    </ul>
        <button class="btn btn-light offset-6">
            <a href ='/registrations/signup'>Sign up</a>
        </button>
        <button class="btn btn-light ml-2">
            <a href ='/login'>Login</a>
        </button>
</nav>
<%end%>
    
    <h1 class="text-light">Welcome to DBDTracker</h1>
   
    <div class="jumbotron" style="background-image: url(https://cdn2.steamgriddb.com/file/sgdb-cdn/hero/4a3e00961a08879c34f91ca0070ea2f5.jpg)">
        <div class="bg-light opacity-4">
            <p class="text-dark">This site allows you to keep track of your in game currency. Additionally you can look up killers, survivors and perks, and build your perfect Killer and Survivor!</p>
        </div>
    </div>

