<nav class="navbar navbar-dark bg-dark">
 <a href='/'>Home</a>
 <a href="/killers">Killers List</a>
 <a href="/survivors">Survivors List</a>
 </nav>
<h1 class="text-danger">Welcome to DBDTracker</h1>
<button class="btn btn-lg btn-danger">Sign up
<a href ='/registrations/signup'></a>
</button>
<button class="btn btn-lg btn-danger">Login
<a href ='/login'></a>
</button>

<p>This site allows you to keep track of your in game currency. Additionally you can look up killers, survivors and perks, and build you perfect Killer and Survivor!</p>


