<nav>
 <a href='/'>Home</a>
 <a href="/killers">Killers List</a>
 <a href="/survivors">Survivors List</a>
 </nav>
<h1>Welcome to DBDTracker</h1>

<a href ='/registrations/signup'>Sign up</a>
<a href ='/login'>Log in</a>

<p>This site allows you to keep track of your in game currency. Additionally you can look up killers, survivors and perks, and build you perfect Killer and Survivor!</p>

<a href="/killers">Killers List</a>
<a href="/survivors">Survivors List</a>
