<h1>Welcome to DBDTracker</h1>

<a href ='/registrations/signup'>Sign up</a>
<a href ='/login'>Log in</a>

<p>This site allows you to select killers and survivors and assign them your favorite perks. This way you can keep track of your favorites on the go!</p>

<a href="/killers">Killers List</a>
<a href="/survivors">Survivors List</a>
